<!--The content below is only a placeholder and can be replaced.-->

  <!-- Site content !-->



  <div class="ui three column doubling stackable grid  container">

        <div class="four wide column">
        <h1 class="ui header">Status</h1>
        <h3 class="ui header">{{objDate | date :'dd/MM'}}</h3>
        <h1 class="ui header">{{objDate | date :'HH:mm:ss'}}</h1>

        <select name="skills" multiple="" class="ui fluid dropdown">
          <option value="">Skills</option>
          <option value="angular">Angular</option>
          <option value="css">CSS</option>
          <option value="ember">Ember</option>
          <option value="html">HTML</option>
          <option value="javascript">Javascript</option>
          <option value="meteor">Meteor</option>
          <option value="node">NodeJS</option>
        </select>

        <script>
        $('select.dropdown')
  .dropdown('set selected', ['meteor', 'ember'])
;</script>
        </div>

        <div class="four wide column">
            <h1 id="modal1" class="ui header">Nyheter</h1>
            <div class="ui multiple dropdown">
                <input type="hidden" name="filters">
                <i class="filter icon"></i>
                <span class="text">Filter Posts</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search tags...">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                    Tag Label
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-value="important">
                      <div class="ui red empty circular label"></div>
                      Important
                    </div>
                    <div class="item" data-value="announcement">
                      <div class="ui blue empty circular label"></div>
                      Announcement
                    </div>
                    <div class="item" data-value="cannotfix">
                      <div class="ui black empty circular label"></div>
                      Cannot Fix
                    </div>
                    <div class="item" data-value="news">
                      <div class="ui purple empty circular label"></div>
                      News
                    </div>
                    <div class="item" data-value="enhancement">
                      <div class="ui orange empty circular label"></div>
                      Enhancement
                    </div>
                    <div class="item" data-value="off-topic">
                      <div class="ui yellow empty circular label"></div>
                      Off Topic
                    </div>
                    <div class="item" data-value="interesting">
                      <div class="ui pink empty circular label"></div>
                      Interesting
                    </div>
                    <div class="item" data-value="discussion">
                      <div class="ui green empty circular label"></div>
                      Discussion
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui section divider"></div>


        <app-news></app-news>
        </div>


        <div class="eight wide column">

            <h1 id="modal1" class="ui header">Musik</h1>
            <div class="ui multiple dropdown">
                <input type="hidden" name="filters">
                <i class="filter icon"></i>
                <span class="text">Filter Posts</span>
                <div class="menu">
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search tags...">
                  </div>
                  <div class="divider"></div>
                  <div class="header">
                    <i class="tags icon"></i>
                    Tag Label
                  </div>
                  <div class="scrolling menu">
                    <div class="item" data-value="important">
                      <div class="ui red empty circular label"></div>
                      Important
                    </div>
                    <div class="item" data-value="announcement">
                      <div class="ui blue empty circular label"></div>
                      Announcement
                    </div>
                    <div class="item" data-value="cannotfix">
                      <div class="ui black empty circular label"></div>
                      Cannot Fix
                    </div>
                    <div class="item" data-value="news">
                      <div class="ui purple empty circular label"></div>
                      News
                    </div>
                    <div class="item" data-value="enhancement">
                      <div class="ui orange empty circular label"></div>
                      Enhancement
                    </div>
                    <div class="item" data-value="off-topic">
                      <div class="ui yellow empty circular label"></div>
                      Off Topic
                    </div>
                    <div class="item" data-value="interesting">
                      <div class="ui pink empty circular label"></div>
                      Interesting
                    </div>
                    <div class="item" data-value="discussion">
                      <div class="ui green empty circular label"></div>
                      Discussion
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui section divider"></div>



        <app-youtube></app-youtube>
        </div>

  </div>


  <div class="ui large modal">
      <div class="header">
        Profile Picture
      </div>
      <div class="content">
          <iframe
            style="width:100%; height: 90vh; border:none;"
            [src]="url | safe">
        </iframe>
      </div>
      <div class="actions">
        <div class="ui primary approve button">
          Proceed
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>








  <!-- Site content !-->
